
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.platform {
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 100px;
}

.game-cell {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}